<section class="w-auto h-auto py-12 px-8 md:flex md:flex-row lg:flex lg:w-auto">
  <article
    class="container mx-auto w-80 h-auto flex flex-col justify-center items-start bg-white py-4 px-2 sm:w-96 sm:py-4 sm:px-2 md:w-5xl lg:w-auto lg:flex lg:flex-col xl:w-7xl xl:flex xl:flex-col gap-4 overflow-hidden"
  >
    <h1 class="text-3xl font-bold">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, odio dolores.
    </h1>
    <p class="text-sm">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur commodi consectetur
      perferendis voluptas explicabo rerum esse, dicta dolores possimus suscipit nisi similique
      inventore hic quaerat cupiditate. Odio molestiae nemo esse!
    </p>

    <div class="flex flex-row flex-2 gap-7 sm:flex sm:flex-row md:flex md:flex-row md:flex-4">
      <figure
        class="w-40 h-64 md:size-80 lg:w-72 bg-[#BDBDBD] rounded relative group transition-all"
      >
        <div class="flex flex-row w-auto h-64 md:size-80 lg:w-72 group-hover:bg-neutral-500/30">
          <h1 class="text-2xl opacity-0 group-hover:opacity-100">Lorem Ipsum</h1>
        </div>
      </figure>

      <figure class="w-40 h-64 md:size-80 lg:w-72 bg-[#BDBDBD] group rounded">
        <div class="flex flex-row w-auto h-64 md:size-80 lg:w-72 group-hover:bg-neutral-500/30">
          <h1 class="text-2xl opacity-0 group-hover:opacity-100">Lorem Ipsum</h1>
        </div>
      </figure>
      <figure class="w-40 h-64 md:size-80 lg:w-72 bg-[#BDBDBD] group rounded">
        <div class="flex flex-row w-auto h-64 md:size-80 lg:w-72 group-hover:bg-neutral-500/30">
          <h1 class="text-2xl opacity-0 group-hover:opacity-100">Lorem Ipsum</h1>
        </div>
      </figure>
      <figure class="w-40 h-64 md:size-80 lg:w-72 bg-[#BDBDBD] group rounded">
        <div class="flex flex-row w-auto h-64 md:size-80 lg:w-72 group-hover:bg-neutral-500/30">
          <h1 class="text-2xl opacity-0 group-hover:opacity-100">Lorem Ipsum</h1>
        </div>
      </figure>
    </div>
  </article>
</section>
